<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%- header = @cms_page.blocks.find_by(:identifier => 'header') %>
  <title>Cedar Midwives <% if header && !header.content.empty? %> - <%= header.content %><% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Bad+Script' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
